#root{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  row-gap: 1em;
}
.navegador{
  background-image: url("imgs/i1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  row-gap: 2em;
}
.titulo{
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
  text-shadow: 2px 2px #000;
}
.texto{
  font-size: 1em;
  color: #fff;
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}
.link>*{
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 1em;
  border-radius: 10px;
  font-size: 1em;
}
.link>*:hover{
  background-color: yellowgreen;
}
.contenedor{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  row-gap: 1em;
}
.contHome{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  row-gap: 1em;
}
.cajaH1{
  border-radius: 10px;
  margin: 0 15rem;
}
.c1{
  background-image: url("imgs/f1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c2{
  background-image: url("imgs/f2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c3{
  background-image: url("imgs/f3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c4{
  background-image: url("imgs/f4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c5{
  background-image: url("imgs/f5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.curso{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  width: 100%;
  background-color: red;
  border-radius: 10px;
  color: white;
  border: none;
}
.foto{
  width: 15em;
  border-radius: 10px;
}
.cursoCont{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  border-radius: 10px;
  column-gap: 1em;
}
.curso{
  margin: 2em 0;
}